*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #4c91cc ,#a5409a ,#6d109c);
}
.info-container ,.leaderBoard {
    margin: 20px auto 0;
    padding: 20px;
    font-size: 24px;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    
    position: relative;
}
/* start navbar */
nav{
    border-radius: 15px;
}

.nav-item{
    margin-right: 20px ;
    margin-left: 20px;
    background: linear-gradient(90deg,#cacc4c,#d1b66d ,#f6f3f0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size: 20px;
    font-weight: 600;
}

.navbar-brand , .score a {
    background:linear-gradient(90deg, #4c91cc ,#a5409a ,#6d109c);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}
.navbar-brand{
    /* font-family: 'Rubik Mono One', sans-serif; */
    font-family: 'Bungee Inline', cursive;
    text-shadow: 0 0 65px lightblue;
}
.navbar-brand img{
    width: 28px;
    height: 24px;
}
.score a {
    font-size: 20px;
    margin-left: -25px;
}
/* end navbar */
.leaderBoard{
    border-radius: 10px;
}
.leaderBoard h2{
    font-family: 'Bungee Inline', cursive;
    color:whitesmoke;
    font-size: 30px;
    -webkit-text-shadow: 
    3px 5px 7px #ffa50096, 
    1px 2px 2px #f4de36ab;
    -moz-text-shadow: 
    3px 5px 7px #ffa50096, 
    1px 2px 2px #f4de36ab;
    -o-text-shadow: 
    3px 5px 7px #ffa50096, 
    1px 2px 2px #f4de36ab;
    -ms-text-shadow: 
    3px 5px 7px #ffa50096, 
    1px 2px 2px #f4de36ab;
    text-shadow: 
                    3px 5px 7px #ffa50096, 
                    1px 2px 2px #f4de36ab;
}
.leaderBoard table{
    font-family: 'Bungee Inline', cursive;
    color: #ddddec;
}
i{
    color: gold;
}
.leaderBoard ol li .right{
    position: absolute;
    right:50px;
}
.leaderBoard ol li span mark{
    background-color: transparent;
}
.instructions{
    position: absolute;
    padding: 15px;
    top: 150px;
    left: 20px;
    border: 2px solid  #2196f3;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.instructions h2{
    color: maroon;
}
.info-container .name{
    float: left;
    width: 33%;
}
.info-container .tries{
    float: right;
    width: 33%;
    text-align: right;
}
.info-container .countDown{
    float: right;
    width: 33%;
    text-align: right;
}
.memory-game-blocks{
    display: flex;
    flex-wrap: wrap;
    /* width: 880px; */
    margin: 20px auto;
}
.memory-game-blocks.no-clicking{
    pointer-events: none; /*mbystgb4 ll clicking wla lay 7aga 5ales*/
}
.game-block{
    min-width: 4rem;
    min-height: 20vh;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex:1 0 120px;
    margin: 0 15px 20px ;
}

.memory-game-blocks .game-block .front::before{
    content:"?";
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50% ,-50%);
    color: white;
}
.memory-game-blocks .game-block .front{
    background-color: #333;
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 120px;
    padding-bottom: 30px;
}
.memory-game-blocks .game-block .back{
    background-color: #607d8b;
    transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img{
    position: absolute;
    top: 36%;
    left:50%;
    transform: translate(-50% ,-50%);
    width:100%;
    height:100%;
    margin-top: 20px;
}
.memory-game-blocks .game-block .face{
    position: absolute;
    width: 100%;
    height:100%;
    backface-visibility: hidden;
    border: 2px solid #2196f3;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.is-matched{
    -webkit-transform: rotateY(180);
    -moz-transform: rotateY(180);
    transform: rotateY(180deg);
    pointer-events: none;
}
.controls-button{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
}

.controls-button span ,.controls-button div , .controls-button p{
    color: white;
    font-size: 60px;
    text-align: center;
    position: fixed;
    left: 50%;
    background-color: #f44336;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    animation:zoomInDown 2s ease-in-out;
}
.modes{
    background-color: rgba(0,0,0,.6);
    z-index: 4;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    box-shadow: white 2px 2px 15px;
    padding: 30px 100px;
}
.modes div span{
    color: white;
    /* font-size: 40px; */
    /* padding: 250px; */
}
/* .modes div span a:hover{
    background-color: rgba(0,0,0,.2);
} */
.modes div span a{
    background:linear-gradient(90deg, #4c91cc ,#a5409a ,#6d109c);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
}
.mode{
    min-width:400px;
    min-height:45%;
}
.mode:hover{
    background-color: rgba(0,0,0,.2);
    border-radius: 15px;
}
.wrapper-tot{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #4c91cc ,#a5409a ,#6d109c);
    height: 100vh;
    width:100%
}
/* .modes-wrapper{
    animation:zoomInDown 2s ease-in-out;
} */
.win{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 3;
    display: none;
}
canvas{
    background:#000;
  }
.win div{
    margin:20px; 
    text-align: center;
    width:400px;
    font-size: 60px;
    color: white;
    padding: 20px;
    background-color: rgb(32, 203, 255);
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.win span{
    background-color: #2196f3;
    color: white;
    font-size: 60px;
    text-align: center;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
    animation:flip 2s ease-in-out;
    font-family: 'Hanalei', cursive;
}
.lose{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 3;
    display: none;
    font-family: 'Press Start 2P', cursive;
}
.lose span{
    background-color: red;
    color: white;
    color: white;
    font-size: 60px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    animation:ShakeX 2s ease-in-out;
}

footer{
    color: white;
    background-color: black;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
}
/*start login */
.login{
    width: 400px;
    position: absolute;
    background-color: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:20px;
    border-radius:25px;
    place-content: center;
    box-sizing: border-box;

    background-color: rgba(0,0,0,.6);
    box-shadow: #aca9a9 2px 2px 10px;

}
.login h3{
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 20px lightblue;
    font-family: 'Lobster', cursive;
}
.login .form-control, .login .btn {
    border-radius:10px;
    /* box-shadow: 0 4px 6px #ccc; */
    /*filter: drop-shadow( 0 2px 3px black);*/
}
.login .form-control{
    margin-bottom: 10px;
}
.login .btn{
    margin-top: 10px;
    font-size: 20px;
    background: linear-gradient(90deg, #4c91cc ,#a5409a ,#6d109c);
    color: white;
    text-shadow: 0 5px 10px lightblue;
    font-family: 'Lobster', cursive;
}

/* end login */
/* start signup */
.tnen{
    width: 40rem;
    position: fixed;
    top: 11%;
    right: -5%;
}
.sea{
    width: 40rem;
    position: fixed;
    top: 9%;
    left: -1%;
    z-index: -1;
}

.msg{
    width: 300px;
    top: 70%;
    left: 40%;
    z-index: -5;
}
/* end signup */