{%extends "index.html"%}
{% block main %}
<div class="wrapper-tot">
    <div class="container">
        <div class="modes text-center">
            <div class="col align-self-start mode">
                <span><a class="btn" href="http://127.0.0.1:5000/main/easy">Easy</a> </span>
            </div>
            <div class="col align-self-center mode">
                <span><a class="btn" href="http://127.0.0.1:5000/main/medium">Medium</a> </span>
            </div>
            <div class="col align-self-end mode">
                <span><a class="btn" href="http://127.0.0.1:5000/main/hard">Hard</a> </span>
            </div>
            <div class="col align-self-end mode">
                <span><a class="btn" href="http://127.0.0.1:5000/main/ultimate">ultimate</a> </span>
            </div>
        </div>
    </div>
</div>

{%endblock%}